

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  color: white;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.menu {
  position: absolute;
  left: 16px;
  bottom: 16px;
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #dee8f1;
  }
}

.cocktail-name {
  position: absolute;
  left: 16px;
  top: 16px;
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #c2d3e2;
  }
  ul {
    color: white;
  }

  ul > li {
    margin: -8px 0px -1.25rem;
    line-height: 8px;
  }

}

.steps {
  color: white;
  height: 50vh;
  width: 50vw;
  position: absolute;
  right: 16px;
  top: 50vh;
}

