

.banner {
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;

}

.banner p {
  color: white;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.menu {
  position: absolute;
  left: 16px;
  bottom: 16px;
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #dee8f1;
  }
}

.cocktail-name {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 32px;
  top: 16px;
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #c2d3e2;
  }
  li {
    color: white;
  }
  // height: 50vh;
  max-width: 80vw;
}

.steps {
  // font-family: 'Montserrat', sans-serif;
  color: white;
  height: 50vh;
  max-width: 75vw;
  position: absolute;
  left: 32px;
  top: 40vh;
}

.steps h2 {
    font-family: 'Montserrat', sans-serif;
  }

